@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

body {
    font-family: 'Borel', cursive;
}

/* Containers */

.quotes-container {
    background-color: white;


}



.callout-container {
    height: 100vh;
    background: url('../images/kombucha.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}



.container-wrapper {
    background-color: #7C5C00;
    font: white;
}

/* Content Container */

.content-container {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
}

.logo {
    background: url("../images/kombucha.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bg-color-title {
    background-color: aqua;
    padding-top: 25px;
    padding-left: 25px;
}

/* Headings */

.heading {
    padding-top: 25px;
    padding-left: 25px;
}

.call-to-action {
    font-weight: 100;
    font-size: 46px;
}

.social-call {
    text-decoration: underline;
}